# The linguist directives are for https://github.com/github/linguist

*.md   text eol=lf whitespace=blank-at-eol
*.sh   text eol=lf whitespace=blank-at-eol diff=php
*.tmux text eol=lf whitespace=blank-at-eol diff=php

Vagrantfile text eol=lf linguist-vendored
video/* linguist-documentation

# Binary Types
*.png binary
